* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B1C30;
}

/******************************* header ****************************************/
header {
    display: flex;
    justify-content: space-around;
    margin-left: 24px;
    margin-right: 24px;

}


.logo {
    width: 20%;
    position: relative;
    top: 16px;

}

.navbar {
    display: flex;
    align-items: center;
}

header nav ul {
    cursor: pointer;
    color: #767799;
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

header nav ul li a {
    color: #767799;
    text-decoration: none;
}

header nav ul li a span {
    color: #ffffff;
}


header button {
    margin-top: 10px;
    width: 146px;
    height: 45px;
    background-color: rgba(255, 255, 5, 0);
    border: 1px solid #ffffff;
}

header button a {
    color: #ffffff;
    text-decoration: none;
}

/* ************************section hero_section************************ */
.hero_section {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
}

.titre_hero {
    position: relative;
    left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.titre_hero h1 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
    color: #ffffff;
}

.titre_hero p {
    font-family: "Inter", sans-serif;
    color: #767799;

}

.DivExplore {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

.DivExplore span {
    display: flex;
    justify-content: space-around;
    width: 80px;
    color: #9F9A9A;
    position: relative;
    top: 10px;
    left: -40px;
}

.DivExplore button {
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    border: 1px solid white;
    height: 40px;
    color: white;
}

.img_hero img {
    width: 70%;
    height: 100%;
    position: relative;
    right: -80px;

}
/************************* sction main******************************/
