* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B1C30;
}

/*******************************************PAGE HOME ***********************************************/
/******************************* header ****************************************/
header {
    display: flex;
    justify-content: space-around;
    margin-left: 24px;
    margin-right: 24px;
}


.logo {
    width: 20%;
    position: relative;
    top: 16px;

}

.navbar {
    display: flex;
    align-items: center;
}

header nav ul {
    cursor: pointer;
    color: #767799;
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

header nav ul li a {
    color: #767799;
    text-decoration: none;
}



header button {
    margin-top: 10px;
    width: 146px;
    height: 45px;
    background-color: rgba(255, 255, 5, 0);
    border: 1px solid #ffffff;
}

header button a {
    color: #ffffff;
    text-decoration: none;
}

/* ************************section hero_section************************ */
.hero_section {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
}

.titre_hero {
    position: relative;
    left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.titre_hero h1 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
    color: #ffffff;
}

.titre_hero p {
    font-family: "Inter", sans-serif;
    color: #767799;

}

.DivExplore {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
}

.DivExplore span {
    display: flex;
    justify-content: space-around;
    width: 80px;
    color: #9F9A9A;
    position: relative;
    top: 10px;
    left: -70px;
}

.DivExplore button {
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    border: 1px solid white;
    height: 40px;
    color: white;
}

.img_hero img {
    width: 70%;
    height: 100%;
    position: relative;
    right: -80px;
    top: 40px;

}

/************************* sction main******************************/
/****les logo partners****/
.partners {
    position: relative;
    top: 80px;
    background-color: #162446;

    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners img {
    width: auto;
    height: 35px;
}

/*****text dans main******/
.titre_main {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre_main h1 {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}

.titre_main p {
    width: 726px;
    color: #767799;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

/*****les trois divs dans main****/
.tree_main {
    height: 500px;
    position: relative;
    top: 200px;
    width: 100%;
    border: 5px solide #ffffff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.tree_main div {
    width: 344px;
    height: 427px;
    border: 2px solid #C23893;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.tree_main div span {
    color: #ffffff;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    margin-left: -250px;
}

.tree_main div h2 {
    color: #ffffff;
    font-size: 33px;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: bold;
    width: 70%;
}

.tree_main div p {
    color: #ffffff;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    width: 80%;

}

/****************************************PAGE EVENTS***********************************************/
/**** section hero event *****/
.hero_events {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img_hero_events {
    width: 700px;
    height: 600px;
}

.titre_hero_events {
    width: 570px;
    height: 540px;
}

.titre_hero_events h5 {
    color: #C23893;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: medium;
    font-weight: normal;
    margin-bottom: 20px;
}

.titre_hero_events h1 {
    color: #ffffff;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 60px;
    margin-bottom: 20px;

}

.icon_hero_events {
    width: 25%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.titre_hero_events p {
    color: #767799;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

/***************************main events*******************************/
.main_events {
    display: flex;
    justify-content: space-around;
}

.titre_main_events {
    width: 619px;
    height: 445px;
}

.titre_main_events h1 {
    width: 617px;
    color: #ffffff;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 61px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
}

.titre_main_events p {
    color: #767799;
    font-family: "inter";
    font-size: 18px;
    width: 90%;
    margin-bottom: 20px;
}

.titre_main_events button {
    width: 213px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: #ffffff;
    font-family: "inter";
    font-size: 21px;
}

.img_main_events {
    width: 512px;
    height: 440px;
}

/***************************PAGE SERVICES********************************/
/*******section hero services********/
.hero_section_services {
    margin-top: 20px;
}

.titre_hero_services {
    text-align: center;
}

.titre_hero_services h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
}

.titre_hero_services p {
    margin-top: 15px;
    color: #767799;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.divs_hero_services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

}

.divs_hero_services div {
    padding-top: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.divs_hero_services .div2,
.divs_hero_services .div1,
.divs_hero_services .div3 {
    border-bottom: 1px solid #C23893;
}

.divs_hero_services .div2,
.divs_hero_services .div5 {
    border-right: 1px solid #C23893;
    border-left: 1px solid #C23893;
}

.divs_hero_services div span {
    font-size: 21px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

.divs_hero_services p {
    width: 330px;
    color: #767799;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*******section main services********/
.main_services {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.img_main_services {
    width: 500px;
}

.titre_main_services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 584px;
    gap: 20px;
}

.titre_main_services h5 {
    color: #962F79;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

.titre_main_services h1 {
    color: #ffffff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: medium;
    font-style: normal;
    font-size: 60px;
}

.titre_main_services p {
    color: #767799;
    font-family: "Inter", sans-serif;
    width: 584px;
    font-style: normal;
    font-size: 20px;
}

.titre_main_services button {
    width: 213px;
    height: 65px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 21px;
}

/************************************PAGE ABOUT***********************************************/
/*****************hero about*************/
.hero_about {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    top: 100px;
    gap: 40px;
}

.titre_hero_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre_hero_about h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 60px;
    font-style: medium;
    font-weight: normal;
    color: #ffffff;
}

.titre_hero_about p {
    color: #767799;
    font-family: "Inter", sans-serif;
    width: 765px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.divs_hero_about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divs_hero_about div {
    width: 380px;
    height: 682px;
    border: 1px solid white;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.divs_hero_about div button {
    width: 72px;
    height: 66px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: -20px;
}

.div1_hero {
    background-image: url("../images/1hero_about.png");
    color: #ffffff;
}

.div1_hero h6 {
    font-size: 17px;
    font-family: sans-serif;
    position: relative;
    top: -50px;
}

.div1_hero p {
    color: #babac4;
    position: relative;
    right: 105px;
    top: -30px;
}

.div2_hero {
    background-image: url("../images/2hero_about.png");
    color: #ffffff;
}

.div2_hero h6 {
    font-size: 17px;
    font-family: sans-serif;
    position: relative;
    top: -50px;
}

.div2_hero p {
    color: #babac4;
    position: relative;
    right: 105px;
    top: -30px;
}

.div3_hero {
    background-image: url("../images/3hero_about.png");
    color: #ffffff;
}

.div3_hero h6 {
    font-size: 17px;
    font-family: sans-serif;
    position: relative;
    top: -50px;
}

.div3_hero p {
    color: #babac4;
    position: relative;
    right: 105px;
    top: -30px;
}
/*******************main about******************/